@use "../abstracts" as abs;

.container--page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 60vh;

	& > * {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		letter-spacing: normal;
	}

	& > .question {
		font-size: 1.5rem;
		font-weight: bold;
	}

	& > .nextPokemon--button {
		all: unset;

		padding: 0.5rem 1.5rem;
		border-radius: 100vmax;

		background-color: var(--color-blue);
		opacity: 1;

		font-size: 1.2rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		letter-spacing: normal;
		font-size: bold;
		color: var(--color-white);

		&:hover,
		&:focus-visible {
			opacity: 0.8;
		}
	}
}
