@use "../abstracts" as abs;

:root {
	--color-blue: hsl(240, 100%, 50%);
	--color-red: hsl(0, 70%, 60%);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
	box-sizing: border-box;

	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;

	overflow: hidden;

	scroll-behavior: smooth;
	cursor: default;

	font-family: "Pokemon Solid", sans-serif;
	letter-spacing: 0.3rem;
}
